doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet', href='/css/styles.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
    body
        nav 
            .wrapper
                .logo 
                    a(href="#/") Metamorfomagus
                input(type="radio", name="slider", id="menu-btn")
                input(type="radio", name="slider", id="close-btn")
                ul.nav-links 
                    label(for="close-btn" class="btn close-btn")
                        i(class='material-symbols-rounded') Close
                    li
                        a(href="#") Inicio
                    li 
                        a(href="#") Iniciar Sesion
                label(for="menu-btn" class="btn menu-btn")
                    i(class='material-symbols-rounded') Menu
        .container
            block content