@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #242526;
}

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.wrapper .nav-links {
  display: inline-flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background: #3A3B3C;
}

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .logo a {
    font-size: 15px;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
}
nav input {
  display: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.container h2 {
  margin-bottom: 20px;
}
.container h2 h5 {
  width: 26%;
  margin-left: 38%;
  text-align: left;
}
.container form, .container section {
  display: inline-block;
  text-align: left;
  max-width: 400px;
  width: 100%;
}
.container form .form-group, .container section .form-group {
  margin-bottom: 20px;
}
.container form .form-group label, .container section .form-group label {
  display: block;
  font-weight: bold;
}
.container form .form-group input[type=file],
.container form .form-group select, .container form .form-group .form-input, .container section .form-group input[type=file],
.container section .form-group select, .container section .form-group .form-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f8f9fa;
  transition: border-color 0.3s;
}
.container form .form-group input[type=file]:focus,
.container form .form-group select:focus, .container form .form-group .form-input:focus, .container section .form-group input[type=file]:focus,
.container section .form-group select:focus, .container section .form-group .form-input:focus {
  border-color: #3c8dbc;
  outline: none;
}
.container form .form-group select, .container section .form-group select {
  appearance: none;
  background: #fff;
  cursor: pointer;
}
.container form .form-group button[type=submit], .container section .form-group button[type=submit] {
  margin-top: 10px;
  width: 300px;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #3c8dbc;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
.container form .form-group button[type=submit]:hover, .container section .form-group button[type=submit]:hover {
  background-color: #4db6fc;
}
.container a#downloadLink {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #3c8dbc;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}
.container a#downloadLink:hover {
  background-color: #4db6fc;
}

@media screen and (max-width: 970px) {
  form {
    max-width: 100%;
  }
  .splide__slide {
    width: 100%;
  }
}
#image-carousel {
  width: 80%;
  margin: 0 auto;
}

h1 {
  margin: 100px auto 20px auto;
}

.splide__slide {
  margin-top: 20px;
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.splide__slide img {
  max-width: 100%;
  height: 80%;
}

.splide__arrow.splide__arrow--prev,
.splide__arrow.splide__arrow--next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

.splide__arrow.splide__arrow--prev:hover,
.splide__arrow.splide__arrow--next:hover {
  background: rgba(255, 255, 255, 0.7);
}

/*# sourceMappingURL=styles.css.map */
